<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gachi.model.CmtMapper">

	<!-- 댓글 작성 sql문장 -->
	<insert id="writeCmt" parameterType="com.gachi.model.CmtDTO">
		INSERT INTO
		tbl_comment(post_id, cmt_content, created_at, user_id)
		VALUES(#{post_id}, #{cmt_content}, NOW(), #{user_id});
	</insert>

	<!-- 해당 게시글의 댓글들을 가져오는 sql문장 -->
	<select id="CmtList" parameterType="int" resultType="com.gachi.model.CmtDTO">
		SELECT * FROM tbl_comment WHERE post_id = #{post_id}
	</select>
</mapper>