<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gachi.model.RecMapper">

	<!-- 동일 사람 팔로우 여부 검색 -->
	<select id="FollowCheck"
		parameterType="com.gachi.model.FollowDTO" resultType="int">
		select count(*)
		from tbl_follow where user_id=#{user_id} and
		following_id=#{following_id}
	</select>

	<!-- 팔로우 -->
	<insert id="FollowUpdate"
		parameterType="com.gachi.model.FollowDTO">
		insert into tbl_follow(user_id, following_id,
		created_at) values(#{user_id}, #{following_id}, now())
	</insert>

	<!-- 팔로우 취소 -->
	<delete id="FollowDelete"
		parameterType="com.gachi.model.FollowDTO">
		delete from tbl_follow where user_id=#{user_id} and
		following_id=#{following_id}
	</delete>

	<!-- 팔로워 카운트 -->
	<select id="FollowUserCount" parameterType="string"
		resultType="int">
		select count(*) from tbl_follow where
		following_id=#{user_id}
	</select>

	<!-- 팔로잉 카운트 -->
	<select id="FollowingUserCount" parameterType="string"
		resultType="int">
		select count(*) from tbl_follow where user_id=#{user_id}
	</select>
	
	<!-- 팔로워 리스트 출력 -->
	<select id="FollowerList" parameterType="string" resultType="com.gachi.model.FollowDTO">
		select f.user_id, f.following_id, u.user_pic from tbl_follow f inner join tbl_user u on f.user_id= u.user_id where f.following_id=#{user_id}
	</select>
	
	<!-- 팔로잉 리스트 출력 -->
	<select id="FollowingList" parameterType="string" resultType="com.gachi.model.FollowDTO">
		select f.user_id, f.following_id, u.user_pic from tbl_follow f inner join tbl_user u on f.following_id= u.user_id where f.user_id=#{user_id}
	</select>

	<!--  팔로우 체크  
	<select id="FollowCheck" parameterType="com.gachi.model.FollowDTO"
		resultType="int">
		select cnt(*) from tbl_follow where user_id = #{user_id} and
		following_id = #{following_id}
	</select>-->
</mapper>