<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gachi.model.HashtagMapper">

<!-- 해시태그 추가 -->
<insert id="AddHashtag" parameterType="string" >
	insert into tbl_hashtag (hashtag_name) values (#{hashtag})
</insert>
</mapper>