<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gachi.model.MemberMapper">

	<!-- 동일 게시글 좋아요 여부 검색 -->
	<select id="likeCheck" parameterType="com.gachi.model.LikeDTO" resultType="int">
		select count(*) from tbl_likes where kuser_id=#{kuser_id} and post_idx=#{post_id}
	</select>
	
	<!-- 게시글 좋아요 -->
	<insert id="likeUpdate" parameterType="com.gachi.model.LikeDTO">
		insert into tbl_likes(post_idx, kuser_id, created_at) values(#{post_id}, #{kuser_id}, now())
	</insert>

	<!-- 게시글 좋아요 취소 -->
	<delete id="likeDelete" parameterType="com.gachi.model.LikeDTO">
		delete from tbl_likes where kuser_id=#{kuser_id} and post_idx=#{post_id}
	</delete>

</mapper>