<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gachi.model.MemberMapper">

	<insert id="join" parameterType="com.gachi.model.MemberDTO">
		insert into tbl_user
		values(#{user_id}, #{user_pw}, #{user_name}, #{user_nick}, #{user_email}, #{user_gender}, #{user_birth}, null, sysdate())
	</insert>

	<select id="login" parameterType="com.gachi.model.MemberDTO" resultType="com.gachi.model.MemberDTO">
		select * from tbl_user where user_id = #{user_id} and user_pw = #{user_pw} 
	</select>

</mapper>